/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	font-family: 'Lora', serif;
	font-family: 'Playfair Display', serif;

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Lora', serif;
}
main{
	margin: 0;
	padding: 0;
}
section{
	padding: 80px;
}
h1,
h2,
h3{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size: 52px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 18px;
}
#logo{
	width: 170px;
}
.grid{
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	align-items: center;
}
header{
	background-color: white;	
	padding: 30px ;
}
header .grid {
	display: flex;
	justify-content: space-between;
	
}
.menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu a{
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	border-radius: 20px;
}
a:hover{
	background-color: #f195b2;
	color: white;
}
.hero{
	background-image: url(./images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
.hero .content{
	padding-right: 40%;
}
.hero .content p{
	font-size: 24px;
	font-style: italic;
}
.welcome-kitchen{
	background-color: white;
}
.kitchen{
	display: flex;
}
.kitchen .right{
	margin: 30px;
	flex-shrink: 1;
	
}
.kitchen .left{
	flex-basis: 50%;

}
.button{
	padding: 15px 40px;
	border-radius: 30px;
	text-decoration: none;
	background-color: #f195b2;
	color: white;
	display: inline-block;
}
.button:hover{
	background-color: 	#d2567d	;
}



